<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Quản lý</a>
            </li>
            <li class="breadcrumb-item active">Nhân viên</li>
        </ol>
        <!-- DataTables Example -->
        <div class="action-bar">
            <a href="/admin/staff/add_staff" class="btn btn-primary btn-sm">Thêm</a>
            <a href="/admin/staff/delete_staff" class="btn btn-danger btn-sm">Xóa</a>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" onclick="checkAll(this)"></th>
                                <th>Tên </th>
                                <th>Tên đăng nhập</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th> Vai trò </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{this.name}}</td>
                                <td>{{this.username}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.mobile}}</td>
                                <td>{{this.role.name}}</td>
                                <td>
                                    <a href="/admin/staff/edit_staff?id={{this.id}}" onclick="Edit('1');"
                                        class="btn btn-warning btn-sm">Sửa</a>
                                </td>
                                <td>
                                    <a href="/admin/staff/delete_staff?id={{this.id}}" onclick="Delete('1');"
                                        class="btn btn-danger btn-sm">Xóa</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->