<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Quản lý</a>
            </li>
            <li class="breadcrumb-item active">Đánh giá</li>
        </ol>
        <!-- DataTables Example -->
        <div class="action-bar">

            <input type="submit" class="btn btn-danger btn-sm" value="Xóa" name="delete">
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" onclick="checkAll(this)"></th>
                                <th>Email</th>
                                <th>Tên </th>
                                <th>Số sao</th>
                                <th>Ngày tạo</th>
                                <th>Nội dung</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{email}}</td>
                                <td>{{fullname}}</td>
                                <td>{{star}}</td>
                                <td>{{created_date}}</td>
                                <td>{{description}}</td>
                                <td>
                                    <a href="/admin/comment/delete_comment?id={{id}}" onclick="Delete('25');"
                                        class="btn btn-danger btn-sm">Xóa</a>
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->