<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Quản lý</a>
            </li>
            <li class="breadcrumb-item active">Khách hàng</li>
        </ol>
        <!-- DataTables Example -->
        <div class="action-bar">
            <a href="/admin/customer/add_customer" class="btn btn-primary btn-sm" name="add">Thêm</a>
            <a href="/admin/customer/delete_customer" class="btn btn-danger btn-sm" name="add">Xóa</a>
        </div>
        <div class="card mb-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th><input type="checkbox" onclick="checkAll(this)"></th>
                                <th>Tên </th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Đăng nhập từ</th>
                                <th>Địa chỉ</th>
                                <th>Tên người nhận</th>
                                <th>Điện thoại người nhận</th>
                                <th>Trạng thái</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td><input type="checkbox"></td>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.mobile}}</td>
                                <td>{{this.login_by}}</td>
                                <td>{{this.housenumber_street}}</td>
                                <td>{{this.shipping_name}}</td>
                                <td>{{this.shipping_mobile}}</td>
                                <td>{{#if (eq2 this.is_active)}}Đã kích hoạt{{else}}Chưa kích hoạt{{/if}}</td>
                                <td>
                                    <a href="/admin/customer/edit_customer?id={{this.id}}" onclick="Edit('1');"
                                        class="btn btn-danger btn-sm">Sửa</a>
                                </td>
                                <td>
                                    <a href="/admin/customer/delete_customer?id={{this.id}}" onclick="Delete('1');"
                                        class="btn btn-warning btn-sm">Xóa</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->